{{ define "main" }}



<div class="jumbotron">

  <div class="container">


    <h1>{{ .Title }}</h1>
  </div>
</div>

<div class="container">

  <img class="rounded img-fluid" src="{{ .Params.imageURL }}" alt="">
  <p>{{ .PublishDate.Format "2 Jan 2006" }}</p>
  <p>Length: {{ .Params.length }}</p>
  <p><a href="{{ .Params.transcriptURL }}">Transcript Link</a></p>
  <p><audio src="{{ .Params.audioLink1 }}" controls="controls"></audio></p>
  <p><em>Having playback issues? Click on the alternate player of this episode below.</em></p>
  <p><audio src="{{ .Params.audioLink2 }}" controls="controls"></audio></p>
  <p>{{ .Content}}</p>
  {{ if .Params.guest }}
  <h2>Guest</h2>
    <div class="media">
    <img class="align-self-start mr-3 rounded img-fluid" src="{{ (index .Site.Data.guests .Params.guest).imageURL }}" alt="{{ (index .Site.Data.guests .Params.guest).fullname }} profile photo">
      <div class="media-body">
        <h5 class="mt-0">{{ (index .Site.Data.guests .Params.guest).fullname }}</h5>
        <p>{{ (index .Site.Data.guests .Params.guest).bio | markdownify }}</p>
      </div>
    </div>
  {{end}}
</div>
{{ end }}
